.block_ {
  background-color: #fff;
  border-right-color: black;
  border-right-style: none;
  border-right-width: 1pt;
  color: #202124;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 1;
  font-weight: normal;
  /* line-height: 1.2; */
  margin-bottom: 18pt;
  margin-left: 0;
  margin-right: -30pt;
  margin-top: 36pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 30pt;
  padding-top: 0;
}
.block_1 {
  background-color: #fff;
  border-bottom-color: black;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  border-left-color: black;
  border-left-style: none;
  border-left-width: 1pt;
  border-right-color: black;
  border-right-style: none;
  border-right-width: 1pt;
  border-top-color: black;
  border-top-style: none;
  border-top-width: 1pt;
  color: #202124;
  display: block;
  font-size: 1.125em;
  line-height: 1.2;
  margin-bottom: 12pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 12pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_2 {
  background-color: #fff;
  border-right-color: black;
  border-right-style: none;
  border-right-width: 1pt;
  color: #202124;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.4;
  margin-bottom: 12pt;
  margin-left: 0;
  margin-right: -30pt;
  margin-top: 24pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 30pt;
  padding-top: 0;
}
.block_3 {
  background-color: #fff;
  border-bottom-color: black;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  color: #202124;
  display: block;
  font-size: 1.125em;
  line-height: 1.2;
  margin-bottom: 12pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 12pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_4 {
  background-color: #fff;
  color: #202124;
  display: block;
  font-size: 1.125em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 12pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 12pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_5 {
  background-color: #fff;
  border-bottom-color: black;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  color: #202124;
  display: table-row;
  font-size: 1.125em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 9pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_6 {
  background-color: #fff;
  color: #202124;
  display: table-row;
  font-size: 1.125em;
  line-height: 1.2;
  margin-bottom: 9pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_7 {
  background-color: #fff;
  border-bottom-color: black;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  border-left-color: black;
  border-left-style: none;
  border-left-width: 1pt;
  border-right-color: black;
  border-right-style: none;
  border-right-width: 1pt;
  border-top-color: black;
  border-top-style: none;
  border-top-width: 1pt;
  color: #202124;
  display: block;
  font-size: 1.125em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 12pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 12pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_8 {
  background-color: #fff;
  border-bottom-color: black;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  color: #202124;
  display: table-row;
  font-size: 1.125em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_9 {
  border-bottom-color: black;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  color: #202124;
  display: table-row;
  font-size: 1.125em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_10 {
  color: #202124;
  display: table-row;
  font-size: 1.125em;
  line-height: 1.2;
  margin-bottom: 18pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_11 {
  background-color: #fff;
  border-bottom-color: black;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  border-right-color: black;
  border-right-style: none;
  border-right-width: 1pt;
  border-top-color: black;
  border-top-style: none;
  border-top-width: 1pt;
  color: #202124;
  display: table-row;
  font-size: 1.125em;
  line-height: 1.2;
  margin-bottom: 9pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 9pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_12 {
  color: black;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  font-weight: normal;
  line-height: 1.25;
  margin-bottom: 18pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_13 {
  color: black;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_14 {
  border-right-color: black;
  border-right-style: none;
  border-right-width: 1pt;
  color: black;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 1.66667em;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 18pt;
  margin-left: 0;
  margin-right: -30pt;
  margin-top: 36pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 30pt;
  padding-top: 0;
}
.block_15 {
  display: block;
  line-height: 1.43;
  margin-bottom: 12pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 12pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_16 {
  color: #575757;
  display: block;
  line-height: 1.43;
  margin-bottom: 12pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 12pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_17 {
  color: black;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  line-height: 1.43;
  margin-bottom: 12pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 12pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_18 {
  border-bottom-color: black;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: table-row;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 9pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_19 {
  border-bottom-color: black;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: table-row;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_20 {
  display: table-row;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 9pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_21 {
  color: black;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 12pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 12pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_22 {
  color: black;
  display: block;
  line-height: 1.43;
  margin-bottom: 12pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 12pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_23 {
  background-color: #fff;
  color: #202124;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  font-weight: normal;
  line-height: 1.25;
  margin-bottom: 18pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_24 {
  background-color: #fff;
  color: #202124;
  display: block;
  font-size: 1em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_25 {
  background-color: #fff;
  color: black;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_26 {
  color: #202124;
  display: block;
  line-height: 1.43;
  margin-bottom: 12pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 12pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_27 {
  border-bottom-color: black;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: table-row;
  font-size: 1.125em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 9pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_28 {
  border-bottom-color: black;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: table-row;
  font-size: 1.125em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_29 {
  display: table-row;
  font-size: 1.125em;
  line-height: 1.2;
  margin-bottom: 9pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_30 {
  background-color: #fff;
  color: #202124;
  display: block;
  font-family: 'Nova Mono', serif;
  font-size: 1.125em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_31 {
  display: block;
  font-family: 'Nova Mono', serif;
  line-height: 1.43;
  margin-bottom: 12pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 12pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_32 {
  background-color: #fff;
  color: #202124;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 1.66667em;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 18pt;
  margin-left: 0;
  margin-right: -30pt;
  margin-top: 36pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 30pt;
  padding-top: 0;
}
.block_33 {
  color: black;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  line-height: 1.33;
  margin-bottom: 0;
  margin-left: -30pt;
  margin-right: -30pt;
  margin-top: 12pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
  text-indent: 0;
}
.bullet_ {
  color: #202124;
  display: table-cell;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.2;
  text-decoration: none;
}
.bullet_1 {
  display: table-cell;
  font-weight: bold;
  line-height: 1.2;
  text-decoration: none;
}
.calibre {
  color: #03f;
  display: block;
  font-family: 'Roboto', serif;
  font-size: 1em;
  margin-bottom: 0;
  margin-left: 5pt;
  margin-right: 5pt;
  margin-top: 0;
  padding-left: 0;
  padding-right: 0;
}
.calibre1 {
  display: table;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 36pt;
  padding-right: 0;
  padding-top: 0;
}
.calibre2 {
  display: table-cell;
  line-height: 1.2;
}
.calibre3 {
  display: table;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 72pt;
  padding-right: 0;
  padding-top: 0;
}
.calibre4 {
  font-style: italic;
  line-height: 1.2;
}
.calibre5 {
  display: table-row-group;
  vertical-align: middle;
}
.calibre6 {
  font-style: italic;
}
.table_ {
  /* width: 100rem; */
  border-bottom-color: #000;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  border-collapse: collapse;
  border-left-color: #000;
  border-left-style: none;
  border-left-width: 1pt;
  border-right-color: #000;
  border-right-style: none;
  border-right-width: 1pt;
  border-spacing: 2px;
  border-top-color: #000;
  border-top-style: none;
  border-top-width: 1pt;
  display: table;
  margin-bottom: 0;
  margin-left: 0%;
  margin-right: auto;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-indent: 0;
  /* width: 0; */
}
.td_ {
  border-bottom-color: #000;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  border-left-color: #000;
  border-left-style: hidden;
  border-left-width: 1pt;
  border-right-color: #000;
  border-right-style: none;
  border-right-width: 1pt;
  border-top-color: #000;
  border-top-style: hidden;
  border-top-width: 1pt;
  display: table-cell;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: inherit;
  vertical-align: top;
  border-bottom: 1px solid #ddd !important;
}
.td_1 {
  border-bottom-color: #000;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  border-left-color: #000;
  border-left-style: none;
  border-left-width: 1pt;
  border-right-color: #000;
  border-right-style: hidden;
  border-right-width: 1pt;
  border-top-color: #000;
  border-top-style: hidden;
  border-top-width: 1pt;
  display: table-cell;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: inherit;
  vertical-align: top;
  border-bottom: 1px solid #ddd !important;
}
.td_2 {
  border-bottom-color: #000;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  border-left-color: #000;
  border-left-style: hidden;
  border-left-width: 1pt;
  border-right-color: #000;
  border-right-style: none;
  border-right-width: 1pt;
  border-top-color: #000;
  border-top-style: none;
  border-top-width: 1pt;
  display: table-cell;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: inherit;
  vertical-align: top;
  border-bottom: 1px solid #ddd !important;
}
.td_3 {
  border-bottom-color: #000;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  border-left-color: #000;
  border-left-style: none;
  border-left-width: 1pt;
  border-right-color: #000;
  border-right-style: hidden;
  border-right-width: 1pt;
  border-top-color: #000;
  border-top-style: none;
  border-top-width: 1pt;
  display: table-cell;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: inherit;
  vertical-align: top;
  border-bottom: 1px solid #ddd !important;
}
.td_4 {
  border-bottom-color: #000;
  border-bottom-style: hidden;
  border-bottom-width: 1pt;
  border-left-color: #000;
  border-left-style: hidden;
  border-left-width: 1pt;
  border-right-color: #000;
  border-right-style: none;
  border-right-width: 1pt;
  border-top-color: #000;
  border-top-style: none;
  border-top-width: 1pt;
  display: table-cell;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: inherit;
  vertical-align: top;
  border-bottom: 1px solid #ddd !important;
}
.td_5 {
  border-bottom-color: #000;
  border-bottom-style: hidden;
  border-bottom-width: 1pt;
  border-left-color: #000;
  border-left-style: none;
  border-left-width: 1pt;
  border-right-color: #000;
  border-right-style: hidden;
  border-right-width: 1pt;
  border-top-color: #000;
  border-top-style: none;
  border-top-width: 1pt;
  display: table-cell;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: inherit;
  vertical-align: top;
  border-bottom: 1px solid #ddd !important;
}
.td_6 {
  background-color: transparent;
  border-left-color: #000;
  border-left-style: none;
  border-left-width: 1pt;
  border-top-color: #000;
  border-top-style: none;
  border-top-width: 1pt;
  display: table-cell;
  padding-bottom: 0.5ex;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5ex;
  text-align: inherit;
  vertical-align: top;
  border-bottom: 1px solid #ddd !important;
}
.td_7 {
  border-bottom-color: #000;
  border-bottom-style: hidden;
  border-bottom-width: 1pt;
  border-left-color: #000;
  border-left-style: hidden;
  border-left-width: 1pt;
  border-right-color: #000;
  border-right-style: none;
  border-right-width: 1pt;
  border-top-color: #000;
  border-top-style: hidden;
  border-top-width: 1pt;
  display: table-cell;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: inherit;
  vertical-align: top;
  border-bottom: 1px solid #ddd !important;
}
.td_8 {
  border-bottom-color: #000;
  border-bottom-style: hidden;
  border-bottom-width: 1pt;
  border-left-color: #000;
  border-left-style: none;
  border-left-width: 1pt;
  border-right-color: #000;
  border-right-style: hidden;
  border-right-width: 1pt;
  border-top-color: #000;
  border-top-style: hidden;
  border-top-width: 1pt;
  display: table-cell;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: inherit;
  vertical-align: top;
  border-bottom: 1px solid #ddd !important;
}
.td_9 {
  border-bottom-color: #000;
  border-bottom-style: hidden;
  border-bottom-width: 1pt;
  border-left-color: #000;
  border-left-style: hidden;
  border-left-width: 1pt;
  border-right-color: #000;
  border-right-style: hidden;
  border-right-width: 1pt;
  border-top-color: #000;
  border-top-style: hidden;
  border-top-width: 1pt;
  display: table-cell;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: inherit;
  vertical-align: top;
  border-bottom: 1px solid #ddd !important;
}
.tr_ {
  display: table-row;
  min-height: 42pt;
  vertical-align: inherit;
}
.tr_1 {
  display: table-row;
  min-height: 27pt;
  vertical-align: inherit;
}
.tr_2 {
  display: table-row;
  min-height: 57pt;
  vertical-align: inherit;
}
.tr_3 {
  display: table-row;
  min-height: 72pt;
  vertical-align: inherit;
}
.tr_4 {
  display: table-row;
  min-height: 102pt;
  vertical-align: inherit;
}
.tr_5 {
  display: table-row;
  min-height: 87pt;
  vertical-align: inherit;
}
