.block_ {
  border-bottom-style: none;
  display: block;
  font-family: serif;
  font-size: 0.75em;
  line-height: 1.15;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_1 {
  border-bottom-style: none;
  display: block;
  font-family: serif;
  font-size: 0.75em;
  line-height: 1.15;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-before: always;
}
.block_2 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  font-size: 1.41667em;
  line-height: 1.15;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 220pt;
  margin-top: 35.2pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_3 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 7.4pt;
  margin-top: 28.6pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_4 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  font-size: 1.41667em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 345pt;
  margin-top: 28.6pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_5 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 18.4pt;
  margin-top: 22.3pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_6 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 369pt;
  margin-top: 16.3pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_7 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 18pt;
  margin-right: 35.2pt;
  margin-top: 16.6pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_8 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 18pt;
  margin-right: 37.6pt;
  margin-top: 4.3pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_9 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 319pt;
  margin-top: 16.6pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_10 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 18pt;
  margin-right: 10.1pt;
  margin-top: 16.6pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_11 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 18pt;
  margin-right: 45.8pt;
  margin-top: 4.55pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_12 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 18pt;
  margin-right: 2.35pt;
  margin-top: 4.3pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_13 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 424pt;
  margin-top: 16.6pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_14 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 18pt;
  margin-right: 0.7pt;
  margin-top: 16.6pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_15 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 247pt;
  margin-top: 4.55pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_16 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 276pt;
  margin-top: 4.55pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_17 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  font-size: 1.41667em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 365pt;
  margin-top: 5.25pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_18 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 17pt;
  margin-top: 22.3pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_19 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 404pt;
  margin-top: 16.6pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_20 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 18pt;
  margin-right: 9.8pt;
  margin-top: 16.3pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_21 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 163pt;
  margin-top: 4.55pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_22 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 195pt;
  margin-top: 4.55pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_23 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 400pt;
  margin-top: 22.3pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_24 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 18pt;
  margin-right: 3.35pt;
  margin-top: 16.6pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_25 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 187pt;
  margin-top: 4.55pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_26 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 136pt;
  margin-top: 4.3pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_27 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 18pt;
  margin-right: 173pt;
  margin-top: 4.55pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_28 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 392pt;
  margin-top: 16.6pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_29 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 18pt;
  margin-right: 76.8pt;
  margin-top: 16.6pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_30 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 268pt;
  margin-top: 4.3pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_31 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 307pt;
  margin-top: 4.55pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_32 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 18pt;
  margin-right: 7.2pt;
  margin-top: 4.55pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_33 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 259pt;
  margin-top: 4.55pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_34 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 291pt;
  margin-top: 4.55pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_35 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 368pt;
  margin-top: 22.3pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_36 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 18pt;
  margin-right: 126pt;
  margin-top: 16.6pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_37 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 82.6pt;
  margin-top: 4.55pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_38 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 116pt;
  margin-top: 4.55pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_39 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 411pt;
  margin-top: 22.3pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_40 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 18pt;
  margin-right: 145pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_41 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 93.8pt;
  margin-top: 4.55pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_42 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 139pt;
  margin-top: 4.3pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_43 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 372pt;
  margin-top: 22.6pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_44 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 18pt;
  margin-right: 24.5pt;
  margin-top: 16.6pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_45 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 169pt;
  margin-top: 4.55pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_46 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 201pt;
  margin-top: 4.55pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_47 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 18pt;
  margin-right: 1.9pt;
  margin-top: 4.55pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_48 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 290pt;
  margin-top: 4.55pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_49 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 18pt;
  margin-right: 4.05pt;
  margin-top: 4.55pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_50 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 288pt;
  margin-top: 4.55pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_51 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 26.9pt;
  margin-top: 4.55pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_52 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  font-size: 1.41667em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 389pt;
  margin-top: 28.3pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_53 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 2.15pt;
  margin-top: 22.6pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_54 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 312pt;
  margin-top: 16.6pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_55 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 18pt;
  margin-right: 60.2pt;
  margin-top: 16.6pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_56 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 106pt;
  margin-top: 4.3pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_57 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 258pt;
  margin-top: 4.55pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_58 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 420pt;
  margin-top: 22.6pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_59 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 18pt;
  margin-right: 57.4pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_60 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 359pt;
  margin-top: 16.6pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_61 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 18pt;
  margin-right: 20.9pt;
  margin-top: 16.3pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_62 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 138pt;
  margin-top: 4.55pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_63 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 164pt;
  margin-top: 4.55pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_64 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 18pt;
  margin-right: 16.1pt;
  margin-top: 4.3pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_65 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 85.2pt;
  margin-top: 4.55pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_66 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 150pt;
  margin-top: 4.3pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_67 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 18pt;
  margin-right: 11.8pt;
  margin-top: 4.55pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_68 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 189pt;
  margin-top: 4.3pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_69 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 390pt;
  margin-top: 22.6pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_70 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 18pt;
  margin-right: 6pt;
  margin-top: 16.6pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_71 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 18pt;
  margin-right: 40.1pt;
  margin-top: 4.55pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_72 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 105pt;
  margin-top: 4.55pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_73 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 18pt;
  margin-right: 140pt;
  margin-top: 4.55pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_74 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 215pt;
  margin-top: 4.55pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_75 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 360pt;
  margin-top: 22.3pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_76 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 18pt;
  margin-right: 7.4pt;
  margin-top: 16.6pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_77 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 225pt;
  margin-top: 4.3pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_78 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 239pt;
  margin-top: 4.55pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_79 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  font-size: 1.41667em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 420pt;
  margin-top: 5.25pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_80 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 26.6pt;
  margin-top: 22.3pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_81 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 425pt;
  margin-top: 16.6pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_82 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 18pt;
  margin-right: 13pt;
  margin-top: 16.3pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_83 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 174pt;
  margin-top: 4.3pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_84 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 18pt;
  margin-right: 18.4pt;
  margin-top: 4.55pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_85 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 130pt;
  margin-top: 4.55pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_86 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 224pt;
  margin-top: 4.3pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_87 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 18pt;
  margin-right: 10.8pt;
  margin-top: 4.55pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_88 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 30.5pt;
  margin-top: 4.55pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_89 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 121pt;
  margin-top: 4.3pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_90 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 85.9pt;
  margin-top: 4.3pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_91 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 143pt;
  margin-top: 4.55pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_92 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 18pt;
  margin-right: 13.2pt;
  margin-top: 4.55pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: justify;
}
.block_93 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 224pt;
  margin-top: 4.55pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_94 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 311pt;
  margin-top: 4.55pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_95 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 18pt;
  margin-right: 94.6pt;
  margin-top: 4.55pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_96 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 201pt;
  margin-top: 4.3pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_97 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 273pt;
  margin-top: 4.55pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_98 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 18pt;
  margin-right: 66pt;
  margin-top: 4.55pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_99 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 175pt;
  margin-top: 4.55pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_100 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 248pt;
  margin-top: 4.3pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_101 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 18pt;
  margin-right: 70.3pt;
  margin-top: 4.55pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_102 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 18pt;
  margin-right: 1.4pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_103 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 18pt;
  margin-right: 13.4pt;
  margin-top: 4.3pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_104 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 181pt;
  margin-top: 4.55pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_105 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 310pt;
  margin-top: 4.55pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_106 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 372pt;
  margin-top: 22.3pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_107 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 18pt;
  margin-right: 80.6pt;
  margin-top: 16.6pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_108 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 18pt;
  margin-right: 184pt;
  margin-top: 4.55pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_109 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 88.6pt;
  margin-top: 4.55pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_110 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 148pt;
  margin-top: 4.3pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_111 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 194pt;
  margin-top: 4.55pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_112 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 281pt;
  margin-top: 4.3pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_113 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 393pt;
  margin-top: 22.6pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_114 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 18pt;
  margin-right: 11.8pt;
  margin-top: 16.6pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_115 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 179pt;
  margin-top: 4.55pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_116 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 222pt;
  margin-top: 4.55pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_117 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 423pt;
  margin-top: 22.3pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_118 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 18pt;
  margin-right: 16.3pt;
  margin-top: 16.6pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_119 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 162pt;
  margin-top: 4.55pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_120 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 18pt;
  margin-right: 29.2pt;
  margin-top: 4.3pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_121 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 214pt;
  margin-top: 4.55pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_122 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 7.65pt;
  margin-top: 22.6pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_123 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  font-size: 0.75em;
  line-height: 1.15;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 7.65pt;
  margin-top: 22.6pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_124 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 7.65pt;
  margin-top: 22.6pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_125 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 64pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_126 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 136pt;
  margin-top: 4.55pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_127 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 6.45pt;
  margin-top: 4.55pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_128 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 237pt;
  margin-top: 4.55pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_129 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 18pt;
  margin-right: 25.4pt;
  margin-top: 4.3pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_130 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 191pt;
  margin-top: 4.55pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_131 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 245pt;
  margin-top: 4.55pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_132 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 18pt;
  margin-right: 22.6pt;
  margin-top: 4.3pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_133 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 152pt;
  margin-top: 4.55pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_134 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 263pt;
  margin-top: 4.55pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_135 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 399pt;
  margin-top: 22.3pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_136 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 18pt;
  margin-right: 94.1pt;
  margin-top: 16.6pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_137 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 229pt;
  margin-top: 4.55pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_138 {
  border-bottom-style: none;
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 18pt;
  margin-right: 174pt;
  margin-top: 4.55pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_139 {
  color: #202124;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 168pt;
  margin-top: 4.3pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_140 {
  display: block;
  font-size: 1.41667em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-after: always;
}
.block_141 {
  border-bottom-style: none;
  display: block;
  font-size: 1.41667em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_142 {
  border-bottom-style: none;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_143 {
  border-bottom-style: none;
  display: block;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_144 {
  border-bottom-style: none;
  display: block;
  font-family: serif;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_145 {
  border-bottom-style: none;
  display: block;
  font-family: serif;
  font-size: 0.75em;
  line-height: 1.15;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 15.1pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-before: always;
}
.block_146 {
  border-bottom-style: none;
  display: block;
  font-family: serif;
  font-size: 0.75em;
  line-height: 1.15;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 15.1pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_147 {
  border-bottom-style: none;
  display: block;
  font-size: 1.41667em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 15.1pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_148 {
  border-bottom-style: none;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 12.7pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_149 {
  border-bottom-style: none;
  display: block;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 11pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_150 {
  border-bottom-style: none;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 17.8pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_151 {
  border-bottom-style: none;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 18pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_152 {
  border-bottom-style: none;
  display: block;
  font-family: serif;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 14.2pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_153 {
  border-bottom-style: none;
  display: block;
  font-family: serif;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 13pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_154 {
  border-bottom-style: none;
  display: block;
  font-family: serif;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 12.7pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_155 {
  border-bottom-style: none;
  display: block;
  font-family: serif;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 27.1pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_156 {
  border-bottom-style: none;
  display: block;
  font-family: serif;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 6.7pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_157 {
  border-bottom-style: none;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 35.2pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_158 {
  border-bottom-style: none;
  display: block;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 19.9pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_159 {
  border-bottom-style: none;
  display: block;
  font-family: serif;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 14.2pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-before: always;
}
.block_160 {
  border-bottom-style: none;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 18pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-before: always;
}
.block_161 {
  border-bottom-style: none;
  display: block;
  font-family: serif;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 14.4pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_162 {
  border-bottom-style: none;
  display: block;
  font-family: serif;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 44.6pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_163 {
  border-bottom-style: none;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 14.2pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_164 {
  border-bottom-style: none;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-before: always;
}
.block_165 {
  border-bottom-style: none;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 18.2pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_166 {
  border-bottom-style: none;
  display: block;
  font-family: serif;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 14.2pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: center;
}
.block_167 {
  border-bottom-style: none;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 35.2pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-before: always;
}
.block_168 {
  border-bottom-style: none;
  display: block;
  font-family: serif;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 18pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_169 {
  border-bottom-style: none;
  display: block;
  font-family: serif;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-before: always;
}
.block_170 {
  border-bottom-style: none;
  display: block;
  font-family: serif;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 24pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_171 {
  border-bottom-style: none;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 29.2pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_172 {
  border-bottom-style: none;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 18.2pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-before: always;
}
.block_173 {
  border-bottom-style: none;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 29.2pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-before: always;
}
.block_174 {
  border-bottom-style: none;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 13pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_175 {
  border-bottom-style: none;
  display: block;
  font-family: serif;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 12.7pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-before: always;
}
.block_176 {
  border-bottom-style: none;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 31.2pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_177 {
  border-bottom-style: none;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 17.8pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-before: always;
}
.block_178 {
  border-bottom-style: none;
  display: block;
  font-family: serif;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 26.9pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_179 {
  border-bottom-style: none;
  display: block;
  font-family: serif;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 6.95pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_180 {
  border-bottom-style: none;
  display: block;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 37.2pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_181 {
  border-bottom-style: none;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 26.9pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_182 {
  border-bottom-style: none;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 6.95pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_183 {
  border-bottom-style: none;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 6.7pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_184 {
  border-bottom-style: none;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 34.8pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_185 {
  border-bottom-style: none;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 14.4pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_186 {
  border-bottom-style: none;
  display: block;
  font-family: serif;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 37.9pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-before: always;
}
.block_187 {
  border-bottom-style: none;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1.59e +3pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-before: always;
}
.block_188 {
  border-bottom-style: none;
  display: block;
  font-family: serif;
  font-size: 0.75em;
  line-height: 1.15;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 18pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_189 {
  display: block;
  font-family: serif;
  font-size: 0.75em;
  line-height: 1.15;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 12.7pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-before: always;
}
.calibre {
  color: #000;
  display: block;
  font-family: 'Arial', sans-serif;
  font-size: 1em;
  margin-bottom: 0;
  margin-left: 5pt;
  margin-right: 5pt;
  margin-top: 0;
  padding-left: 0;
  padding-right: 0;
}
.calibre1 {
  font-style: italic;
  line-height: 1.2;
}
.calibre2 {
  font-size: 0.85em;
  line-height: normal;
  vertical-align: sub;
}
.calibre3 {
  font-size: 0.75em;
  line-height: normal;
  vertical-align: super;
}
.calibre4 {
  font-size: 0.75em;
  line-height: normal;
  vertical-align: sub;
}
.calibre5 {
  font-size: 1em;
  line-height: normal;
  vertical-align: super;
}
.text_ {
  font-size: 1.2em;
  line-height: 1.2;
}
.text_1 {
  font-size: 1.33333em;
  line-height: 1.2;
}
.text_2 {
  font-family: 'Nirmala UI', sans-serif;
  line-height: 1.2;
}
.text_3 {
  font-family: 'Arial', sans-serif;
  line-height: 1.2;
}
.text_4 {
  font-family: 'Arial', sans-serif;
  font-style: italic;
  line-height: 1.2;
}
.text_5 {
  color: #000;
  line-height: 1.2;
}
.text_6 {
  color: #00e;
  line-height: 1.2;
}
.text_7 {
  font-family: 'Nirmala UI', sans-serif;
  font-size: 1.33333em;
  line-height: 1.2;
}
.text_8 {
  font-family: 'Arial', sans-serif;
  font-size: 1.33333em;
  line-height: 1.2;
}
.text_9 {
  font-family: 'Arial', sans-serif;
  font-size: 1.1em;
  line-height: 1.2;
}
.text_10 {
  font-family: 'Nirmala UI', sans-serif;
  font-size: 1.1em;
  line-height: 1.2;
}
